$card-top-offest: 14%;
$button-top-offest: 79%;

@mixin rotated-text($num-letters: 100, $angle-span: 180deg, $angle-offset: 0deg) {
        $angle-per-char: $angle-span / $num-letters;
        @for $i from 1 through $num-letters {
            .char#{$i} {
                @include transform(rotate($angle-offset + $angle-per-char * $i))
        }
    }
}

@function setLongShadow($color, $length) {
    $value: 0 0 $color;
 
    @for $i from 1 through $length {
        $value: #{$value}, #{$i}px #{$i}px #{$color};
    }
 
    @return $value;
}
 
@mixin longShadow($color, $length:200) {
    text-shadow: setLongShadow($color, $length);
}

.restaurant-card{
    width: 100%;
}

.reset-button{
    vertical-align: middle;
    top: 50%;
    left: 40%;
}

#card-stack {
    margin-top: 10px;
}
 
#card-stack ion-card {
    border-radius: 10px;
    position: absolute;
    text-align: center;
    background-color: #ecec00; 
    height: 72%;
}

.non-draggable-card-image{
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    text-align: center;
    height: 82%;
}

.non-draggable-image{
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    margin:auto;
    display: block;
    width: 26%;
    height: 29px !important;
}

ion-icon {
    font-size: 64px !important;
}

.button-circular{
    height: 100%;
    border-radius: 100px;
    background-color: white;
}

.card-text{
    margin-top: -100px;
    text-align: left;
    color: black !important;
    position: absolute;
    bottom: 0;
    left: 0;
}
