<ion-header>
    <ion-navbar color="primary">
        <ion-title>Locale</ion-title>
    </ion-navbar>
</ion-header>

<div swing-stack #myswing1 [stackConfig]="stackConfig" (throwoutleft)="voteUp(true)" (throwoutright)="voteUp(false)" id="card-stack">
    <ion-card #mycards1 swing-card *ngFor="let card of restaurantCards" class="card-height">
        <img class="non-draggable-image" src="{{card.imageSource}}"/>
    
        <ion-card-content>
            <ion-card-title>
                {{card.restaurantTitle}}
            </ion-card-title>
            {{card.dealDescription}}
        </ion-card-content>
    </ion-card>
</div>

<button ion-button (click)="resetCards()" class="reset-button">Reset</button>