<ion-header class="nav-round">
    <ion-navbar>
            <ion-title class="title-big">GrabSome</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-list>
        <form [formGroup]="dealEditorFormGroup">
            <ion-item>
                <ion-label floating>Deal Description</ion-label>
                <ion-input formControlName="dealDescription"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label floating>Start time</ion-label>
                <ion-datetime displayFormat="MMMM DD, YYYY h:mm a" formControlName="dealStart"></ion-datetime>
            </ion-item>
        
            <ion-item>
                <ion-label floating>End time</ion-label>
                <ion-datetime displayFormat="MMMM DD, YYYY h:mm a" formControlName="dealEnd"></ion-datetime>
            </ion-item>
        
            <ion-item>
                <ion-label>Limited deal number</ion-label>
                <ion-checkbox formControlName="limitedDealNumber" [(ngModel)]="limitDealNumber" checked="false"></ion-checkbox>
            </ion-item>
        
            <ion-item *ngIf="limitDealNumber">
                <ion-label floating>Deal Number</ion-label>
                <ion-input type="number" formControlName="dealNumber"></ion-input>
            </ion-item>

            <ion-list style="padding: 1em;" radio-group formControlName="dealType">
                Deal Type
                <ion-item>
                    <ion-label>Drinks</ion-label>
                    <ion-radio value="0"></ion-radio>
                </ion-item>
                <ion-item>
                    <ion-label>Food</ion-label>
                    <ion-radio value="1"></ion-radio>
                </ion-item>
                <ion-item>
                    <ion-label>Both</ion-label>
                    <ion-radio value="2"></ion-radio>
                </ion-item>
            </ion-list>
        
            <ion-item>
                <input type="file" (change)="uploadImage($event)" accept="image/*"/>
            </ion-item>

        </form>
    </ion-list>
    <div class="button-group">
        <button ion-button (click)="close()">
            Close
        </button>

        <button ion-button (click)="save()">
            Save
        </button>
    </div>
</ion-content>
