.button-group {
    display: block;
    margin: 0 auto;
    width: 50%;
}

.default-class {
    border-radius: 10px;
    position: absolute;
    text-align: center;
    height: 95%;
    background-color: floralwhite;
    margin-top: 8px;
    max-width: 325px;
    max-height: 450px;
    width: 95%;
}