.button-group {
    width: 100%;
    margin-bottom: 1em;
}

.default-class {
    border-radius: 10px;
    position: absolute;
    text-align: center;
    height: 95%;
    background-color: white;
    width: 95%;
    margin-top: 8px;
    margin-left: 2em;
    margin-right: 2em;
    max-width: 325px;
    max-height: 450px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.error-message {
    padding-left: 1em;
    color: red;
    margin: 0;
    margin-top: 0.5em;
}

.editing-status {
    margin-top: 480px;
    margin-left: 25px;
    width: 100%;
}

ion-spinner {
    position: relative;
    display: inline-block;
    width: 28px;
    height: 28px;
    margin: 0;
}

.center-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.deal-type-text {
    margin-left: 1.0em;
    font-size: 17px;
    margin-top: 0.5em;
}