.button-group {
    display: block;
    margin: 0 auto;
    width: 50%;
}

.default-class {
    border-radius: 10px;
    position: absolute;
    text-align: center;
    height: 95%;
    background-color: white;
    width: 95%;
    margin-top: 8px;
    margin-left: 2em;
    margin-right: 2em;
    max-width: 325px;
    max-height: 450px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.error-message {
    padding-left: 1em;
    color: red;
    margin: 0;
    margin-top: 0.5em;
}

.editing-status {
    margin-top: 480px;
    margin-left: 25px;
    width: 100%;
}

.center-content {
    // display: flex;
    // align-items: center;
    // justify-content: center;
}