<ion-header class="nav-round">
    <ion-navbar>
        <button style="color: white;" ion-button icon-only menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title class="title-big" style="text-align: right;">Your chalkbord</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-list>
        <form [formGroup]="dealEditorFormGroup">
            <ion-grid style="padding: 0px;">
                <ion-row>
                    <ion-col col-12 col-sm-6 style="padding: 0px;">
                        <ion-item>
                            <ion-label floating>Deal description</ion-label>
                            <ion-input formControlName="dealDescription"></ion-input>
                        </ion-item>
                        <p *ngIf="dealEditorFormGroup.get('dealDescription').errors && dealEditorFormGroup.get('dealDescription').dirty"
                            class="error-message">Deal description is required.</p>

                        <ion-item>
                            <ion-label floating>Long deal description</ion-label>
                            <ion-textarea formControlName="longDealDescription"></ion-textarea>
                        </ion-item>

                        <ion-item>
                            <ion-label floating>Deal date</ion-label>
                            <ion-datetime displayFormat="MMMM DD, YYYY" min="{{now}}" max="{{max}}" formControlName="dealDay"></ion-datetime>
                        </ion-item>
                        <p *ngIf="dealEditorFormGroup.get('dealDay').errors && dealEditorFormGroup.get('dealDay').dirty"
                            class="error-message">Deal date is required.</p>

                        <ion-item>
                            <ion-label floating>Start time</ion-label>
                            <ion-datetime displayFormat="h:mm a" formControlName="dealStart"></ion-datetime>
                        </ion-item>
                        <p *ngIf="dealEditorFormGroup.get('dealStart').errors && dealEditorFormGroup.get('dealStart').dirty"
                            class="error-message">Deal start time is required.</p>

                        <ion-item>
                            <ion-label floating>End time</ion-label>
                            <ion-datetime displayFormat="h:mm a" formControlName="dealEnd"></ion-datetime>
                        </ion-item>
                        <p *ngIf="dealEditorFormGroup.get('dealEnd').errors && dealEditorFormGroup.get('dealEnd').dirty"
                            class="error-message">Deal end time is required.</p>

                        <!-- <ion-item>
                            <ion-label>Limited deal number</ion-label>
                            <ion-checkbox formControlName="limitedDealNumber" [(ngModel)]="limitDealNumber" checked="false"></ion-checkbox>
                        </ion-item>

                        <ion-item *ngIf="limitDealNumber">
                            <ion-label floating>Deal Number</ion-label>
                            <ion-input type="number" formControlName="numberOfDeals"></ion-input>
                        </ion-item> -->

                        <ion-list style="padding: 1em;" radio-group formControlName="dealType">
                            Deal Type
                            <ion-item>
                                <ion-label>Drinks</ion-label>
                                <ion-radio value="0"></ion-radio>
                            </ion-item>
                            <ion-item>
                                <ion-label>Food</ion-label>
                                <ion-radio value="1"></ion-radio>
                            </ion-item>
                            <!-- <ion-item>
                                <ion-label>Both</ion-label>
                                <ion-radio value="2"></ion-radio>
                            </ion-item> -->
                        </ion-list>
                        <p *ngIf="dealEditorFormGroup.get('dealType').errors && dealEditorFormGroup.get('dealType').dirty"
                            class="error-message">Deal type is required.</p>

                        <ion-item>
                            <ion-label>Deal is vegetarian</ion-label>
                            <ion-checkbox formControlName="isVegetarian" [(ngModel)]="isVegetarian" checked="false"></ion-checkbox>
                        </ion-item>

                        <ion-item>
                            <ion-label>Deal is vegan</ion-label>
                            <ion-checkbox formControlName="isVegan" [(ngModel)]="isVegan" checked="false"></ion-checkbox>
                        </ion-item>
                    </ion-col>
                    <ion-col (click)="editPhotoData()" style="padding: 0px; min-width: 285px; min-height: 450px;">
                        <gs-card [card]="previewCard" [imageSrc]="imageDataForPreview"></gs-card>
                        <div *ngIf="uneditedDeal" class="editing-status">
                            <ion-badge>
                                <div *ngIf="!cardIsEdited()" style="color: green">Deal saved</div>
                                <div *ngIf="cardIsEdited()" style="color: yellow">Your changes are unsaved</div>
                            </ion-badge>
                        </div>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </form>
    </ion-list>

    <div class="button-group center-content">
        <button *ngIf="!editingDeal" ion-button (click)="add()">
            Add
        </button>

        <button *ngIf="editingDeal" ion-button (click)="save()">
            Save
        </button>

        <button *ngIf="editingDeal" ion-button (click)="delete()">
            Delete
        </button>

        <button ion-button (click)="cancel()">
            Cancel
        </button>
    </div>
</ion-content>

<input #hiddenFileInput type="file" (change)="setImageData($event)" accept="image/*" style="visibility: hidden;" />