<div class="browser-home-photo">

</div>
<div class="home-nav-bar">
    <button class="home-nav-button" (click)="showOrganizationPortal()" ion-button>
        <ion-icon name="restaurant"></ion-icon> Organizations
    </button>
    <!-- <button click="contact()" class="home-nav-button" ion-button>
        <ion-icon name="send"></ion-icon> Contact
    </button> -->
</div>

<div class="center-home-text">Chalkbord</div>

<div class="center-about-text">
    Chalkbord is a real time deal creation mobile and web application for restaurants and thier patrons. 
    See us on your app store!
</div>

<div class="center-about-text-lower">
    For support and business inquries, contact us at support@chalkbord.com.
</div>