<div class="home-nav-bar">
    <button class="home-nav-button" (click)="showRestaurantPortal()"ion-button>
        <ion-icon name="restaurant"></ion-icon> Restaurants
    </button>
    <button class="home-nav-button" ion-button>
        <ion-icon name="send"></ion-icon> Contact
    </button>
</div>

<div class="browser-home-photo">
    <!-- <ion-card>
        <ion-card-content>
            <div class="flute-photo">
            </div>
        </ion-card-content>
    </ion-card> -->
</div>

<div class="center-home-text">grabsome</div>