.browser-home-photo {
    background-image: url("../assets/images/rest-room.jpg");
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.25;
    background-size: 100% 100%;
    z-index: 0;
}

.home-nav-bar {
    height: 40px;
    width: 100%;
    position: absolute;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    z-index: 999;
    background-image: url("../assets/images/good-chalkboard-dark.jpg");
    background-size: 100% 100%;
}

.home-nav-button {
    float: right;
    height: 30px;
}

.screen-shot {
    width: 200px;
    height: auto;
    margin-top: 2em;
    margin-bottom: 2em;
}

.offset-screen-shots {
    margin-right: 2em;
}