.browser-home-photo {
    background-image: url("../assets/images/rest-room.jpg");
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.25;
    background-size: 100% 100%;
    z-index: 0;
}

.center-home-text {
    padding-top: 128px;
    text-align: center;
    font-size: 4em;
    width: 100%;
    top: 18%;
    font-family: Baumans;

}

.centered-card {
    width: 80%;
    margin: auto;
    margin-top: 48px;
    min-width: 380px;
}

.center-about-text {
    text-align: center;
    top: 28%;
    font-size: 18px;
    width: 100%;
    margin: auto;
    margin-top: 24px;
    font-family: Baumans;

}

.center-about-text-lower {
    text-align: center;
    font-size: 18px;
    width: 100%;
    font-family: Baumans;
    padding: 16px;
    background-color: black;
    color: white;
}

.home-nav-bar {
    height: 40px;
    width: 100%;
    position: absolute;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    z-index: 999;
    background-image: url("../assets/images/good-chalkboard-dark.jpg");
    background-size: 100% 100%;
}

.home-nav-button {
    float: right;
    height: 30px;
}

.app-store-cta {
    width: auto;
}

.apple {
    height: 48px;
    margin-bottom: 3px;
    margin-right: 32px;
}

.google-play {
    height: 54px;
}

.center-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cta-button-row {
    margin-top: 2em;
    margin-bottom: 2em;
}

.screen-shot {
    width: 200px;
    height: auto;
    margin-top: 2em;
    margin-bottom: 2em;
}

.offset-screen-shots {
    margin-right: 2em;
}

.terms-policy {
    width: 90%;
    margin: auto;
    min-width: 380px;
    height: 600px;
    margin-top: 48px !important;
    margin-bottom: 64px !important;
}