.rest-landing-home-photo{
    background-image: url("../assets/images/management.jpg");
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.25;
    background-size: 100% 100%;
}

.rest-center-text{
    font-family: Baumans;
    text-align: center;
    font-size: 4em;
    width: 100%;
    top: 18%;
    padding-top: 1.8em;
}

.small-rest-center-text{
    font-family: Baumans;
    text-align: center;
    font-size: 2em;
    width: 100%;
    top: 18%;
    padding-bottom: 1em;
}

.padding-bottom-checkbox{
    padding-bottom: 0.2em;
}

.rest-landing-button{
    width: 80%;
    margin-left: 10%;
    margin-top: .5em;
    margin-bottom: .5em;
    font-size: 2.1em;
}

.or-text{
    text-align: center;
    font-size: 2em
}

.rest-button-area{
    width: 100%;
}

.main-area {
    width: 100%;
}

.log-in-card{
    width: 100%;
    margin: auto;
    margin-top: 4em;
}

.padding-right{
    padding-right: 16px;
}

.sign-up-fields-margin-top{
    margin-top: 6em;
}

.sign-up-card{
    width: 100%;
    margin: auto;
    margin-top: 24em;
    margin-bottom: 4em; 
}

ion-content {
    position: inherit;
}

