.terms-policy {
    min-width: 575px;
    height: 600px;
    margin-top: 32px !important;
    margin-bottom: 64px !important;
}

.center-policy {
    width: 90%;
    position: absolute;
    left: 50%;
    transform: translate(-52.75%, 0);
    top: 23%;
}

.center-home-text-abs {
    position: absolute;
    text-align: center;
    font-size: 2.5em;
    width: 100%;
    top: 12%;
    font-family: Baumans;
}