.textured-name {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    position: absolute;
    left: 50%;
    margin-left: -95px;
    width: 190px;
    height: auto;
    transform: translateY(-50%);
}

.modal-navbar {
    min-height: 56px;

}

.toolbar-background {
    background-image: url("../assets/images/good-chalkboard.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}