<div class="loading-div">
    <div *ngIf="initialLoading">
        <ion-spinner class="ion-spinner-consumer"></ion-spinner>
        <h2 ion-text style="text-align: center; color: white;">Getting your local deals!</h2>
    </div>
    <div *ngIf="!initialLoading">
        <h2 class="no-consumer-cards-text" ion-text>Sorry, that's all the cards!</h2>
        <h2 *ngIf="currentFilter.dealType != null || currentFilter.onlyVegan || currentFilter.onlyVegetarian" class="no-consumer-cards-text"
            style="margin-top: 0" ion-text>Try removing filters</h2>
    </div>
</div>

<ion-navbar style="min-height: 56px;">
    <button (click)="openProfile()" class="button-nav-bar" ion-button menuToggle icon-only>
        <ion-icon name="contact"></ion-icon>
    </button>
    <ion-title style="font-family: Baumans">chalkbord</ion-title>
    <button (click)="openConsumerCardList()" class="button-nav-bar" ion-button icon-only menuToggle right>
        <ion-icon name="logo-buffer"></ion-icon>
    </button>
</ion-navbar>

<div swing-stack #myswing1 [stackConfig]="stackConfig" (throwoutleft)="voteUp(false)" (throwoutright)="voteUp(true)" id="card-stack"
    [style.zIindex]="-1000 ">
    <ion-card #mycards1 swing-card *ngFor="let card of organizationViewCards; let i=index;" [style.zIndex]="-1*i"
        [ngStyle]="{'transition':transitionString}" (click)="moreInfo()">
        <img class="non-draggable-card-image fill" src="{{card.imageURL}}" />

        <ion-card-content class="card-text">
            <ion-card-title class="locale-card-title">
                {{card.organization.name}}
            </ion-card-title>
            {{card.dealDescription}}
            <p class="locale-card-time">{{getMomentFormatted(card.dealStart, "MM/DD")}}
                {{getMomentFormatted(card.dealStart, "hh:mm a")}} - {{getMomentFormatted(card.dealEnd,
                "hh:mm a")}}</p>
        </ion-card-content>
    </ion-card>
</div>

<ion-grid class="bottom-grid">
    <ion-row style="height: 100%">
        <ion-col class="center-content-column" col-2>
            <button class="transparent-button bottom-button outside-button" ion-button icon-only round>
                <ion-icon name="help"></ion-icon>
            </button>
        </ion-col>
        <ion-col class="center-content-column" col-4>
            <button (click)="clickNo()" class="transparent-button bottom-button middle-button" ion-button icon-only
                round>
                <img class="x-button" src="assets/images/x-chalk.png" />
            </button>
        </ion-col>
        <ion-col class="center-content-column" col-4>
            <button (click)="clickLike()" class="transparent-button bottom-button middle-button" ion-button icon-only
                round>
                <img class="heart-button" src="assets/images/heart-chalk.png" />
            </button>
        </ion-col>
        <ion-col class="center-content-column" col-2>
            <button (click)="openFilterPopover($event)" class="transparent-button bottom-button outside-button"
                ion-button icon-only round>
                <ion-icon name="funnel"></ion-icon>
            </button>
        </ion-col>
    </ion-row>
</ion-grid>