<button (click)="openDealTypePopover($event)" class="button-top" ion-button icon-only>
    <ion-icon ios="md-funnel" md="md-funnel"></ion-icon>
</button>
<div swing-stack #myswing1 [stackConfig]="stackConfig" (throwoutleft)="clickNo(true)" (throwoutright)="clickLike(true)" id="card-stack" [style.zIindex] = "-1000">
    <ion-card #mycards1 swing-card *ngFor="let card of restaurantViewCards; let i = index;" [style.zIndex]="-1*i" class="card-height" [ngStyle]="{'transition': transitionString}">
        <img class="non-draggable-card-image fill" src="{{card.imageSource}}" />
    
        <ion-card-content class="card-text">
            <ion-card-title style="color: white !important;">
                {{card.restaurant.name}}
            </ion-card-title>
            {{card.dealDescription}}
        </ion-card-content>
    </ion-card>
</div>

<div class="bottom-row">
    <button class="button-circular" (click)="clickNo(false)" ion-button icon-only>
        <ion-icon ios="md-close" md="md-close"></ion-icon>
    </button>
    <button class="button-circular-heart" (click)="clickLike(false)" ion-button icon-only>
        <ion-icon class="padding-top" ios="md-heart" md="md-heart"></ion-icon>
    </button>
</div>






