<div swing-stack #myswing1 [stackConfig]="stackConfig" (throwoutleft)="voteUp(false)" (throwoutright)="voteUp(true)" id="card-stack">
    <ion-card #mycards1 swing-card *ngFor="let card of restaurantCards" class="card-height" [ngStyle]="{'transition': transitionString}">
        <img class="non-draggable-card-image" src="{{card.imageSource}}" />
    
        <ion-card-content class="card-text">
            <ion-card-title style="color: white !important;">
                {{card.restaurantTitle}}
            </ion-card-title>
            {{card.dealDescription}}
        </ion-card-content>
    </ion-card>
</div>

<div class="bottom-row">
    <button class="button-circular" (click)="clickNo()" ion-button icon-only>
        <img src="assets/images/no.png">
    </button>
    <button class="button-circular" (click)="clickLike()" ion-button icon-only>
        <img src="assets/images/yes.png">
    </button>
</div>






