<div class="background-photo">

</div>

<div #welcomeScreen class="gs-font animate-form" style="left: 0%">
    <div class="center-text">Chalkbord</div>
    <div class="button-area">
        <button class="welcome-button" ion-button (click)="goToUserSignUpScreen()">
            sign up
        </button>
        <div class="or-text">or</div>
        <button class="welcome-button" ion-button outline (click)="goToLoginScreen()">
            login
        </button>
    </div>
</div>

<div #logInScreen class="animate-form offset-form">
    <ion-card>
        <ion-card-content>
            <ion-list class="centered-form ">
                <form [formGroup]="userLogInGroup">
                    <ion-item>
                        <ion-label floating>Email</ion-label>
                        <ion-input type="email" formControlName="email"></ion-input>
                    </ion-item>

                    <ion-item>
                        <ion-label floating>Password</ion-label>
                        <ion-input type="password" formControlName="password"></ion-input>
                    </ion-item>

                    <ion-item>
                        <ion-label>Stay signed in</ion-label>
                        <ion-checkbox formControlName="rememberMe" [(ngModel)]="remembered" checked="false"></ion-checkbox>
                    </ion-item>
                </form>
            </ion-list>
        </ion-card-content>
    </ion-card>

    <button class="welcome-button" ion-button outline (click)="loginHandler()">
        login
    </button>

    <button class="welcome-button" ion-button outline (click)="resetPassword()">
        reset password
    </button>
</div>

<div #userSignUpFields class="animate-form offset-form">
    <ion-card>
        <ion-card-content>
            <ion-list class="centered-form">
                <form [formGroup]="userSignUpGroup">
                    <ion-item>
                        <ion-label floating>First Name</ion-label>
                        <ion-input formControlName="name"></ion-input>
                    </ion-item>

                    <ion-item>
                        <ion-label floating>Email</ion-label>
                        <ion-input type="email" formControlName="email"></ion-input>
                    </ion-item>

                    <ion-item>
                        <ion-label floating>Password</ion-label>
                        <ion-input type="password" formControlName="password"></ion-input>
                    </ion-item>

                    <ion-item>
                        <ion-label floating>Confirm Password</ion-label>
                        <ion-input type="password" formControlName="confirmPassword"></ion-input>
                    </ion-item>

                    <ion-item>
                        <ion-label>Remember Me</ion-label>
                        <ion-checkbox formControlName="rememberMe" [(ngModel)]="remembered" checked="false"></ion-checkbox>
                    </ion-item>
                </form>
            </ion-list>
        </ion-card-content>
    </ion-card>
    <button ion-button class="welcome-button" outline (click)="signUp()">
        sign up
    </button>
</div>

<div #goBackButton class="go-back-button">
    <button ion-fab (click)="goBackAScreen()">
        <ion-icon name="arrow-back"></ion-icon>
    </button>
</div>