.button-group {
    display: block;
    margin: 0 auto;
    width: 50%;
}

.gs-font{
    font-family: Baumans;
}

.center-text{
    text-align: center;
    position: absolute;
    font-size: 4em;
    width: 100%;
    top: 18%;
}

.welcome-button{
    width: 80%;
    margin-left: 10%;
    margin-top: .5em;
    margin-bottom: .5em;
    font-size: 2.1em;
}

.or-text{
    text-align: center;
    font-size: 2em
}

.button-area{
    width: 100%;
    margin-top: 100%;
}

.user-type-button-area{
    font-family: Baumans;
    margin-top: 50%;
}

.centered-form {
    margin-right: 1em;
}

.animate-form {
    transition: .5s;
    position: absolute;
    width: 100%;
}

.offset-form {
    left: 100%;
}

.go-back-button{
    transition: .5s;
    position: absolute;
    bottom: -10%;
    right: 1em;
}

.background-photo{
    background-image: url("../assets/images/organization-portrait.jpg");
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.25;
    background-size: 100% 100%;
}