.card-md .item-md.item-block:not(:last-child) .item-inner {
    border-bottom: 1px solid #dedede;
}

// the style above and below are for a bug where the lines below ion inputs in ion cards dissappear
.card-md .item-md.item-block:not(.item-input):not(.item-select):not(.item-radio):not(.item-checkbox) .item-inner {
    border: 0;
}

.card-ios .item-ios.item-block:not(:last-child) .item-inner {
    border-bottom: 1px solid #dedede;
}

.card-ios .item-ios.item-block:not(.item-input):not(.item-select):not(.item-radio):not(.item-checkbox) .item-inner {
    border: 0;
}

.button-group {
    display: block;
    margin: 0 auto;
    width: 50%;
}

.gs-font {
    font-family: Baumans;
}

.center-text {
    text-align: center;
    position: absolute;
    font-size: 4em;
    width: 100%;
    top: 18%;
}

.welcome-button {
    width: 80%;
    margin-left: 10%;
    margin-top: .5em;
    margin-bottom: .5em;
    font-size: 2.1em;
    font-family: Baumans;
}

.or-text {
    text-align: center;
    font-size: 2em;
    font-family: Baumans;
}

.button-area {
    width: 100%;
    margin-top: 100%;
}

.user-type-button-area {
    font-family: Baumans;
    margin-top: 50%;
}

.centered-form {
    margin-right: 1em;
}

.animate-form {
    transition: .5s;
    position: absolute;
    width: 100%;
}

.offset-form {
    left: 100%;
}

.go-back-button {
    transition: .5s;
    position: absolute;
    bottom: -10%;
    left: 1em;
    z-index: 9999;
}

.background-photo {
    background-image: url("../assets/images/chalkbord-portrait.jpg");
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.55;
    background-size: auto 100%;
    background-position: center;
    min-height: 850px;
    min-width: 500px;
}

.consumer-type-button {
    margin-bottom: -75%;
    width: 80%;
    z-index: 9999;
    font-family: Baumans;
}

.restaurant-type-button {
    margin-top: -75%;
    width: 80%;
    z-index: 9999;
    font-family: Baumans;
}

.center-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.facebook-button {
    background-color: #3B5998;
    color: white;
}

.facebook-icon {
    margin-right: 0.25em;
    margin-bottom: 0.06em;
}