<!-- <ion-card *ngIf="card" style="width: 100%; height: 95%; border-radius: 13px;">
    <img src="{{card.imageURL}}" />
    <ion-card-title style="color: white !important;">
    </ion-card-title>
    {{card.dealDescription}}
</ion-card> -->

<div id="preview-card-stack" [style.zIindex]="-1000">
    <ion-card>
        <div *ngIf="card && !card.imageURL" class="non-draggable-card-image fill">Tap here to upload a photo</div>
        <img *ngIf="card && card.imageURL" class="non-draggable-card-image fill" src="{{card.imageURL}}" />

        <ion-card-content *ngIf="card || showCardText" class="card-text">
            <ion-card-title style="color: white !important;">
                {{_card.restaurant?.name}}
            </ion-card-title>
            {{_card.dealDescription}}
        </ion-card-content>
    </ion-card>
</div>