#preview-card-stack ion-card {
    position: absolute;
    height: 95%;
    width: 95%;
    max-width: 325px;
    max-height: 450px;
    border-radius: 14px;
    text-align: center;
    background-color: white;
    margin-top: 8px;
    border: 3px solid #404040;
}

.centered-tap-text {
    transform: translateY(1200%);
}

.locale-card-time {
    color: white !important;
    text-shadow: rgb(0, 0, 0) 1px 0px 0px, rgb(0, 0, 0) 0.540302px 0.841471px 0px, rgb(0, 0, 0) -0.416147px 0.909297px 0px, rgb(0, 0, 0) -0.989992px 0.14112px 0px, rgb(0, 0, 0) -0.653644px -0.756802px 0px, rgb(0, 0, 0) 0.283662px -0.958924px 0px, rgb(0, 0, 0) 0.96017px -0.279415px 0px;
    font-style: italic;
}

p {
    margin: 0;
}