.user-card-list {
    border-radius: 14px;
    position: relative;
    text-align: center;
    height: 550px;
    width: 95%;
    background-color: white;
    margin-top: 1em;
    margin-bottom: 1em;
    -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    left: 0.7em;
    border: 3px solid #404040;
}

.no-claimed-cards-text {
    margin-left: 1em;
    margin-right: 1em;
    font-family: Baumans;
    font-size: 18px;
    margin-top: 1em;
}