.present-card-image {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    display: block;
    width: 100%;
}

.app-text {
    font-family: Baumans;
}

.icon-margin {
    margin-right: 0.25em;
    padding-top: 0.25em;
}

.clickable-text {
    color: blue !important;
}

.phone-text {
    color: green !important;
}

.address-text {
    color: black;
}

.red-text {
    color: red;
    font-style: italic;
}