.present-card-image{
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    display: block;
    width: 100%;
    margin-top: 3.9em;
}

.app-text {
    font-family: Baumans;
}

.red-text {
    color: red;
    font-style: italic;
}