<ion-header>
    <modal-navbar [organizationModal]="false" [profileModal]="false"></modal-navbar>
</ion-header>
<ion-content>
    <button *ngIf="getDealTypeIcon() != null" class="top-right-icon" color="black" ion-button icon-only round>
        <ion-icon name="{{getDealTypeIcon()}}">
        </ion-icon>
    </button>

    <img *ngIf="card" class="present-card-image fill" src="{{card.imageURL}}" />
    <div text-wrap style="padding-right: 16px;">
        <ion-item>
            <h1 class="app-text">{{card.organization.name}} </h1>
            <p (click)="goToLocation()" class="address-text app-text">
                <ion-icon class="icon-margin" name="navigate"></ion-icon> {{card.organization.address}}
            </p>
            <p *ngIf="card.organization.website" (click)="goToWebsite()" class="clickable-text app-text">
                <ion-icon class="icon-margin" name="globe"></ion-icon> {{card.organization.website}}
            </p>
            <p *ngIf="card.organization.phoneNumber" (click)="callPhoneNumber()" class="phone-text app-text">
                <ion-icon class="icon-margin" name="call"></ion-icon>
                {{getPhoneFormatted(card.organization.phoneNumber)}}
            </p>
        </ion-item>
        <ion-item>
            <h2>{{card.dealDescription}}
            </h2>
            <p>{{getMomentFormatted(card.dealStart, "MMMM Do, YYYY")}}</p>
            <p>{{getMomentFormatted(card.dealStart, "hh:mm a")}} - {{getMomentFormatted(card.dealEnd,
                "hh:mm a")}}</p>
        </ion-item>
        <ion-item *ngIf="card.numberOfDeals > 0">
            <h2 class="app-text red-text">There are only {{card.numberOfDeals}} cards available for this
                deal!</h2>
        </ion-item>
        <ion-item *ngIf="card.longDealDescrption">
            {{card.longDealDescrption}}
        </ion-item>
        <ion-item *ngIf="card.isVegan || card.isVegetarian">
            <button *ngIf="card.isVegan" class="deal-type-icon" color="black" ion-button icon-only round>
                Vegan
                <ion-icon name="leaf">
                </ion-icon>
            </button>
            <button *ngIf="card.isVegetarian" class="deal-type-icon" color="black" ion-button icon-only round>
                Vegetarian
                <ion-icon name="nutrition">
                </ion-icon>
            </button>
        </ion-item>
    </div>
    <button *ngIf="isCardList" [disabled]="!canClaim()" class="claim-button" ion-button (click)="claim()">
        <div *ngIf="canClaim()">claim</div>
        <div *ngIf="!canClaim()">claimed</div>
    </button>
</ion-content>