.present-card-image {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    display: block;
    width: 100%;
}

.app-text {
    font-family: Baumans;
}

.icon-margin {
    margin-right: 0.25em;
    padding-top: 0.25em;
}

.clickable-text {
    color: blue !important;
}

.phone-text {
    color: green !important;
}

.address-text {
    color: black !important;
}

.red-text {
    color: red;
    font-style: italic;
}

.top-right-icon {
    position: absolute;
    color: white;
    right: 2%;
    top: 0.5%;
    font-size: 1em;
    min-width: 2em;
}

.deal-type-icon {
    font-size: 1em !important;
    min-width: 2em !important;
    color: white;
    padding: 10px !important;
    height: 38px !important;
}

.claim-button {
    width: 80%;
    margin-left: 10%;
    margin-top: .5em;
    margin-bottom: .5em;
    font-size: 2.1em;
    font-family: Baumans;
}