.push-list-under-menu-bar {
    margin-top: 4em;
}

.selectable-item:hover {
    background-color: gainsboro;
}

.selected-item {
    background-color: silver;
}

.no-cards-text {
    margin-left: 1em;
    margin-right: 1em;
    font-family: Baumans;
    font-size: 18px;
}