<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="title">I am looking for...</div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="label">Drinks</div>
        <button (click)="toggle('drink')" outline ion-button icon-only round>
          <ion-icon name="beer" color="{{getColor('drink')}}"></ion-icon>
        </button>
      </ion-col>
      <ion-col>
        <div class="label">Food</div>
        <button (click)="toggle('food')" outline ion-button icon-only round>
          <ion-icon name="pizza" color="{{getColor('food')}}"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="title">My Preferences are...</div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="label">Vegan</div>
        <button (click)="toggle('vegan')" outline ion-button icon-only round>
          <ion-icon name="leaf" color="{{getColor('vegan')}}"></ion-icon>
        </button>
      </ion-col>
      <ion-col>
        <div class="label">Vegetarian</div>
        <button (click)="toggle('vegetarian')" outline ion-button icon-only round>
          <ion-icon name="nutrition" color="{{getColor('vegetarian')}}"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="title">I am looking for deals...</div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-list style="width: 100%" radio-group [(ngModel)]="dayFilter">
        <ion-item>
          <ion-label>Today</ion-label>
          <ion-radio value="today"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>In the next week</ion-label>
          <ion-radio value="thisWeek"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Anytime</ion-label>
          <ion-radio value="anytime"></ion-radio>
        </ion-item>
      </ion-list>
    </ion-row>
    <ion-row>
      <ion-col>
        <button style="width: 100%;" ion-button (click)="applyFilters()">Apply
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>