<div class="center-home-text">chalkbord</div>

<ion-card class="centered-card">
    <ion-card-content>
        <div class="center-about-text">
            chalkbord is a peer to peer deal application for getting you the latest restaurant deals.
            Find us on your app store!
        </div>

        <div class="center-content cta-button-row">
            <img (click)="goToAppleAppStore()" class="app-store-cta apple" src="assets/images/apple-app-store-cta.png" />
            <img (click)="goToGooglePlayStore()" class="app-store-cta google-play" src="assets/images/googleplay-cta.png" />
        </div>
    </ion-card-content>
</ion-card>